@model samedayservicez.Models.ContractorRegistrationForm


@{
    ViewBag.Title = "ContractorProfileConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <div class="col-md-12">

            <h2>Welcome, @Model.FirstName @Model.LastName</h2>

            <div class="panel panel-default">
                <div class="panel-body">

                    <p>Please check your details below</p>

                    @*<dl>
                        <dt>Your name</dt>
                        <dd>@Model.FirstName @Model.LastName</dd>

                        <dt>Your state</dt>
                        <dd>@Model.State</dd>
                    </dl>*@
                </div>
            </div>
        </div>
    </div>
<div class="card-body">  
    <div class="card card-custom">

        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control",@readonly="readonly" })
              

            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control",@readonly="readonly" })
              
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.LastName,new { @class = "form-control",@readonly="readonly" })
              
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4 ">
                @Html.LabelFor(m => m.Address, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control",@readonly="readonly" })
             
            </div>

            <div class="form-group  col-md-4">
                <!-- City-->
                @Html.LabelFor(m => m.City, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control",@readonly="readonly" })
              
            </div>


            <div class="form-group col-md-4 ">
                @Html.LabelFor(x => x.State, new { @class = "control-label text-light" })
                @Html.DropDownListFor(m => m.State, Model.States, "- Please select a state -", new { @class = "form-control",@readonly="readonly" })
               
            </div>


        </div>

        <div class="form-row">

            <div class="form-group  col-md-4">
                @Html.LabelFor(m => m.ZipCode, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control",@readonly="readonly" })
              
            </div>

            <div class="form-group col-md-4 ">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control",@readonly="readonly" })
              
            </div>

            <div class="form-group  col-md-4">
                @Html.LabelFor(m => m.Email, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@readonly="readonly" })
              
            </div>

        </div>




        <div class="form-row">

            <div class="form-group  col-md-4">
                @Html.LabelFor(m => m.BirthDate, new { @class = "control-label text-light" })
                @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "form-control",@readonly="readonly" })
               
            </div>
          

        </div>


        <div class="form-row">
            <div class="form-group  col-md-8">
                @Html.LabelFor(m => m.Bio, new { @class = "control-label text-light" })
                @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", rows = "6", cols = "15", @style = "max-width:500px!important",@readonly="readonly" })
               
            </div>

        </div>



        
    </div>
</div>